<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View hike', hikes_path %></li>
  <li class="active"><%= link_to 'New hike', new_hike_path %></li>
</ul>


<h1>New Hike</h1>

<%= render 'form' %>

<%= link_to 'Back', hikes_path %>
