body .table-responsive {
	background-color: #F5ECCE;
	padding: 5px;
}

/*body .table tr td {
	float: right;
}*/

/*body table tr .submit {
	float: auto;
}*/

.list_image {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.list_description dl dt {
	font-size: 1.5em;
	font-style: bold;
	padding: 5px;
	margin-bottom: 5px;
}

.list_description dl dd {
	max-width: 95%;
}

.list_actions {
	float: right;
}

.list_link {
	float: right;
	color: blue;
	max-width: 100%;
}

/*.link_title {
	max-width: 100%;
}*/

.table-responsive tr td {
	padding: 5px;
	margin: 5px;
}

.table-responsive {
	border-style: groove;
	border-color: inherit;
	border-width: medium;
}
